.header {
  z-index: 1;
  background: $c-main;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px rgba($c-black, 0.2);
  .l-flex-sb {
    height: 50px;
  }
  .header-icon {
    &_home,
    &_setting {
      a {
        img {
          user-select: none;
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: bottom;
        }
      }
    }
  }
}