/* RESET */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  font-size: 10px;
}

* {
  font-family: "Montserrat", "Noto Sans JP";
}

body {
  font-size: 1.4rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.l-contents .c-circle-btn_plus {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.l-contents {
  background: #fff;
  position: relative;
}
.l-contents .l-inner-width {
  padding: 0 50px;
}
@media screen and (max-width: 1025px) {
  .l-contents .l-inner-width {
    padding: 0 30px;
  }
}
@media screen and (max-width: 480px) {
  .l-contents .l-inner-width {
    padding: 0 15px;
  }
}

.l-box .l-box-inner {
  background: #aaa;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l-flex-sb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-circle-btn, .c-circle-btn_prev, .c-circle-btn_next, .c-circle-btn_plus {
  z-index: 1;
  background: #446644;
  width: 50px;
  height: 50px;
  border-radius: 50vh;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
.c-circle-btn:hover, .c-circle-btn_prev:hover, .c-circle-btn_next:hover, .c-circle-btn_plus:hover {
  opacity: 0.9;
}

.c-circle-btn_plus:before, .c-circle-btn_plus:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.c-circle-btn_plus:after {
  width: 3px;
  height: 20px;
}

.c-circle-btn_next:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  background: #446644;
  top: 50%;
  left: calc(50% - 3px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
}

.c-circle-btn_prev:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  background: #446644;
  top: 50%;
  left: calc(50% + 3px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
}

.c-square-btn, .c-square-btn_gray, .c-square-btn_warning, .c-square-btn_main {
  z-index: 1;
  background: #446644;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
.c-square-btn:hover, .c-square-btn_gray:hover, .c-square-btn_warning:hover, .c-square-btn_main:hover {
  opacity: 0.9;
}
.c-square-btn .inner-text, .c-square-btn_gray .inner-text, .c-square-btn_warning .inner-text, .c-square-btn_main .inner-text {
  color: #fff;
  font-weight: 500;
}
.c-square-btn.c-square-btn_half, .c-square-btn_half.c-square-btn_gray, .c-square-btn_half.c-square-btn_warning, .c-square-btn_half.c-square-btn_main {
  width: 50%;
  margin: 0 auto;
}

.c-square-btn_warning {
  background: #664444;
}

.c-square-btn_gray {
  background: #aaa;
}

.l-flexbox_column2 .l-flexbox_inner, .l-flexbox_column3 .l-flexbox_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}
.l-flexbox_column2 .l-flexbox_inner > div, .l-flexbox_column3 .l-flexbox_inner > div {
  width: 50%;
  margin: 0 5px;
}

.l-flexbox_column3 .l-flexbox_inner > div {
  width: 33.3333%;
  margin: 0 5px;
}

.component-title {
  margin-top: 60px;
  background: #333;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}

.c-modal {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 480px;
  margin: 0 auto;
}
.c-modal .c-modal-label {
  background: #446644;
  border-radius: 10px 10px 0 0;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-modal .c-modal-label .c-modal-label-text {
  font-size: 1.6rem;
  color: #fff;
}
.c-modal .c-modal-content {
  padding-top: 60px;
  padding-bottom: 80px;
}
.c-modal .c-modal-content .c-modal-content-text {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 40px;
}
.c-modal .c-modal-inner {
  padding: 20px;
}

form {
  width: 100%;
}

.c-input_radio label {
  cursor: pointer;
}
.c-input_radio label input {
  display: none;
}
.c-input_radio label span {
  background: #fff;
  border: 1px solid #446644;
  display: inline-block;
  border-radius: 50vh;
  color: #446644;
  padding: 5px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.c-input_radio label input:checked + span {
  background: #446644;
  color: #fff;
}

.header {
  z-index: 1;
  background: #446644;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header .l-flex-sb {
  height: 50px;
}
.header .header-icon_home a img, .header .header-icon_setting a img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.room {
  padding-top: 50px;
  padding-bottom: 80px;
  max-width: 768px;
  margin: 0 auto;
}
.room .room-noitem {
  display: none;
}
.room .room-noitem .room-noitem-text {
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  color: #446644;
}
.room .room-item {
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}
.room .room-item .room-item-inner {
  padding: 15px 10px;
}
.room .room-item .room-item-inner .room-item-top {
  margin-bottom: 10px;
}
.room .room-item .room-item-inner .room-item-top .room-item-top-text {
  color: #aaa;
  line-height: 1;
}
.room .room-item .room-item-inner .room-item-top .room-item-top-text .date {
  margin-right: 10px;
}
.room .room-item .room-item-inner .room-item-top .room-item-top-text .delete {
  color: #664444;
}
.room .room-item .room-item-inner .room-item-bottom {
  position: relative;
}
.room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner {
    margin: -5px;
  }
}
.room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box {
  width: 80px;
  height: 80px;
}
.room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box + .l-box {
  margin-left: 5px;
}
@media screen and (max-width: 480px) {
  .room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box {
    width: 45%;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    padding: 5px;
  }
  .room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box + .l-box {
    margin-left: 0;
  }
  .room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box .l-box-inner {
    width: 100%;
  }
}
.room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box-inner {
  width: 100%;
  height: 100%;
  padding: 5px;
  color: #fff;
}
.room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box-inner .setting-title {
  font-size: 10px;
  margin-bottom: 5px;
}
.room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box-inner .setting-text {
  font-size: 14px;
}
.room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box-inner.person {
  background: #D8b117;
}
.room .room-item .room-item-inner .room-item-bottom .room-item-bottom-inner .l-box-inner.station {
  background: #333;
}
.room .room-item .room-item-inner .room-item-bottom:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #446644;
  border-right: 2px solid #446644;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}
.room .room-item:hover {
  background: #f1f1f1;
}