/* RESET */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  font-size: 10px;
}

* {
  font-family: "Montserrat", "Noto Sans JP";
}

body {
  font-size: 1.6rem;
  font-weight: 500;
}

.l-content {
  background: tomato;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

a {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
a:hover {
  opacity: 0.8;
}

.l-room-create {
  position: fixed;
  bottom: 6rem;
  right: 15px;
  z-index: 1;
  background: #446644;
  width: 50px;
  height: 50px;
  border-radius: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.l-room-create:hover {
  opacity: 0.8;
}
.l-room-create span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.l-header {
  background: #446644;
  -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: auto;
  right: auto;
}

.l-main {
  padding-top: 50px;
}

.header-flexcontainer {
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-flexcontainer .header-home_icon img,
.header-flexcontainer .header-setting_icon img {
  display: block;
  width: 20px;
  height: auto;
}

.b-width {
  padding: 0 15px;
}

.room .room-item {
  padding: 10px 0;
  border-bottom: 1px solid #dfdfdf;
}
.room .room-item_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.room .room-item_top .room-item_text p {
  font-size: 12px;
  color: #333;
}
.room .room-item_top .room-item_text p span.date {
  margin-right: 10px;
}
.room .room-item_top .room-delete p {
  font-size: 12px;
  color: #664444;
}
.room .room-item_bottom .room-item_bottom-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.room .room-item_bottom .room-item_bottom-inner .room-item_block {
  width: calc(33.333% - 20px);
  height: 80px;
  background: tomato;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background: #aaa;
}
.room .room-item_bottom .room-item_bottom-inner .room-item_block.person {
  background: #D8B117;
}
.room .room-item_bottom .room-item_bottom-inner .room-item_block.person p {
  font-size: 18px;
}
.room .room-item_bottom .room-item_bottom-inner .room-item_block + .room-item_block {
  margin-left: 10px;
}
.room .room-item_bottom .room-item_bottom-inner .room-item_block p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
}
.room .room-item_bottom .room-item_bottom-inner .room-item_block p.small {
  font-size: 10px;
  padding-bottom: 10px;
}
.room .room-item_bottom .room-item_bottom-inner:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #446644;
  border-right: 2px solid #446644;
  position: absolute;
  top: 45%;
  right: 5px;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

.l-inner-width {
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .l-inner-width {
    padding: 0 10px;
  }
}
@media screen and (min-width: 768px) {
  .l-inner-width {
    padding: 0 10px;
  }
}
@media screen and (min-width: 1025px) {
  .l-inner-width {
    padding: 0 10px;
  }
}

.l-inner-width {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 50px;
}
@media screen and (min-width: 768px) {
  .l-inner-width {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .l-inner-width {
    padding: 0 15px;
  }
}

.c-circle-btn, .c-circle-btn_prev, .c-circle-btn_next, .c-circle-btn_plus {
  z-index: 1;
  background: #446644;
  width: 50px;
  height: 50px;
  border-radius: 50vh;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
.c-circle-btn:hover, .c-circle-btn_prev:hover, .c-circle-btn_next:hover, .c-circle-btn_plus:hover {
  opacity: 0.9;
}

.c-circle-btn_plus:before, .c-circle-btn_plus:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.c-circle-btn_plus:after {
  width: 3px;
  height: 20px;
}

.c-circle-btn_next:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  background: #446644;
  top: 50%;
  left: calc(50% - 3px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
}

.c-circle-btn_prev:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  background: #446644;
  top: 50%;
  left: calc(50% + 3px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
}

.c-square-btn, .c-square-btn_gray, .c-square-btn_warning, .c-square-btn_main {
  z-index: 1;
  background: #446644;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}
.c-square-btn:hover, .c-square-btn_gray:hover, .c-square-btn_warning:hover, .c-square-btn_main:hover {
  opacity: 0.9;
}
.c-square-btn .inner-text, .c-square-btn_gray .inner-text, .c-square-btn_warning .inner-text, .c-square-btn_main .inner-text {
  color: #fff;
  font-weight: 500;
}
.c-square-btn.c-square-btn_half, .c-square-btn_half.c-square-btn_gray, .c-square-btn_half.c-square-btn_warning, .c-square-btn_half.c-square-btn_main {
  width: 50%;
  margin: 0 auto;
}

.c-square-btn_warning {
  background: #664444;
}

.c-square-btn_gray {
  background: #aaa;
}

.l-flexbox_column2 .l-flexbox_inner, .l-flexbox_column3 .l-flexbox_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}
.l-flexbox_column2 .l-flexbox_inner > div, .l-flexbox_column3 .l-flexbox_inner > div {
  width: 50%;
  margin: 0 5px;
}

.l-flexbox_column3 .l-flexbox_inner > div {
  width: 33.3333%;
  margin: 0 5px;
}

.component-title {
  margin-top: 60px;
  background: #333;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}

.c-modal {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 480px;
  margin: 0 auto;
}
.c-modal .c-modal-label {
  background: #446644;
  border-radius: 10px 10px 0 0;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-modal .c-modal-label .c-modal-label-text {
  font-size: 1.6rem;
  color: #fff;
}
.c-modal .c-modal-content {
  padding-top: 60px;
  padding-bottom: 80px;
}
.c-modal .c-modal-content .c-modal-content-text {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 40px;
}
.c-modal .c-modal-inner {
  padding: 20px;
}