// Base Styles

:root {
  font-size: 10px;
}

* {
  font-family: $ff-Montserrat, $ff-NotoSansJP;
}
body {
  font-size: 1.4rem; //16px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.l-contents {
  .c-circle-btn_plus {
    z-index: 1;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
}