// MediaQuery

$breakpoint: (
  sp: 'screen and (max-width: 480px)',
  tb: 'screen and (max-width: 1025px)',
  pc: 'screen and (max-width: 1200px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}